.table {
  width: 100%;
}

.table__th {
  padding-top: 25px;
  padding-right: 10px;
  padding-bottom: 25px;
  padding-left: 10px;

  text-align: left;
  color: #ffffff;

  background-color: $background-color-main;
}

.table__td {
  padding-top: 12.5px;
  padding-bottom: 12.5px;
}
