.table {
  width: 100%;
}

.table__tr {
  height: 80px;

  &:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,.25);

    transition: all 0.5s ease 0s;

    cursor: pointer;
  }
}

.table__th {
  padding-top: 25px;
  padding-right: 10px;
  padding-bottom: 25px;
  padding-left: 10px;
  width: 150px;

  text-align: left;
  color: #ffffff;

  background-color: $background-color-main;

  &:first-child {
    width: 400px;
  }

  &--main {
    color: #1d3067;
  }
}

.table__td {
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  padding-left: 10px;

  &:not(:first-child) {
    text-align: center;
  }
}

.table__td-compare {
  display: block;

  font-size: 16px;

  &--more {
    color: #ff0000;
  }

  &--less {
    color: #019b36;
  }
}
